/* .rouge {
  color: red;
}

.vert {
  color: green;
} */

body {
  background-color:darkslategrey;
}

.case-dvd {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

#dvd {
  height: 500px;
  width: 700px;
  background-color: black;
  box-sizing: border-box;
  border-radius: 15px;
  border-color: brown;
  border: 4px solid;
}

#logo {
  height: 55px;
  position: absolute;
}

#move {
  height: 55px;
  position: absolute;
}

.button {
    display: flex;
    justify-content: center;
}

  #click {
    align-content: center;
    border-radius: 15px;
    font-size: 38px; 
}

.tourne {
position:absolute;
}

.i1 {
  height: 100px;
  position: absolute;
  left: 1500px;
  top: 600px;
  display: none;
}
.i1.rotate {
  height: 100px;
  position: absolute;
  display: block;
  left: 1500px;
  top: 600px;
  -webkit-animation: rotate 1.5s linear infinite;
  -moz-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
}

.i2 {
  height: 100px;
  position: absolute;
  left: 300px;
  top: 650px;
  display: none;
}
.i2.rotate {
  height: 100px;
  position: absolute;
  display: block;
  left: 300px;
  top: 650px;
  -webkit-animation: rotate 1.5s linear infinite;
  -moz-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
}

.i3 {
  height: 100px;
  position: absolute;
  top: 200px;
  left: 162px;
  display: none;
}
.i3.rotate {
  height: 100px;
  position: absolute;
  display: block;
  top: 200px;
  left: 162px;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.i4 {
  height: 200px;
  position: absolute;
  left: 1328px;
  top: 100px;
  display: none;
}
.i4.rotate {
  height: 200px;
  position: absolute;
  display: block;
  left: 1328px;
  top: 100px;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.i5 {
  height: 160px;
  position: absolute;
  top: 30px;
  left: 350px;
  display: none;
}
.i5.rotate {
  height: 160px;
  position: absolute;
  display: block;
  top: 30px;
  left: 350px;
  -webkit-animation: rotate 1.5s linear infinite;
  -moz-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
}

.i6 {
  height: 100px;
  position: absolute;
  top: 450px;
  left: 250px;
  display: none;
}
.i6.rotate {
  height: 100px;
  position: absolute;
  display: block;
  top: 450px;
  left: 250px;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.i7 {
  height: 200px;
  position: absolute;
  left: 1250px;
  top: 600px;
  display: none;
}
.i7.rotate {
  height: 200px;
  position: absolute;
  display: block;
  left: 1250px;
  top: 600px;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.i8 {
  height: 200px;
  position: absolute;
  left: 1500px;
  top: 300px;
  display: none;
}
.i8.rotate {
  height: 200px;
  position: absolute;
  display: block;
  left: 1500px;
  top: 300px;
  -webkit-animation: rotate 1.5s linear infinite;
  -moz-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
}

.i9 {
  height: 200px;
  position: absolute;
  top: 500px;
  left: 50px;
  display: none;
}
.i9.rotate {
  height: 200px;
  position: absolute;
  display: block;
  top: 500px;
  left: 50px;
  -webkit-animation: rotate 1.5s linear infinite;
  -moz-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
  100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}

@-moz-keyframes rotate {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
